@import '../../../styles/variables';
@import '../../../styles/mixins';

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $footer-height;
  background-color: $color-white;
  color: $color-black;
  border-top: 1px solid rgba($color-white, 0.2);
  display: flex;
  align-items: center;
  z-index: 1000;
}

.tickerWrapper {
  width: 100%;
  overflow: hidden;
  white-space: nowrap; // Impede a quebra de linha
}

.tickerContent {
  display: inline-block;
  // Animação de marquee
  animation: marquee 40s linear infinite;

  span {
    font-family: $font-main;
    font-weight: 600;
    font-size: 1.2rem;
    padding-right: 2rem; // Espaçamento entre as repetições
    text-transform: uppercase;
  }
}