// src/pages/Studio/Studio.module.scss
@import '../../styles/variables';

.studioLayout {
  display: grid;
  grid-template-columns: 250px 1fr 250px;
  grid-template-rows: 60px 2fr 1fr;
  height: calc(100vh - #{$navbar-height} - #{$footer-height});
  width: 100%;
  gap: 1px;
  background-color: rgba($color-white, 0.2);
}

.library {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}

.transport {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.pianoRoll {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  overflow: hidden;
  display: flex;
}

.visualizer {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.effects {
  grid-column: 3 / 4;
  grid-row: 1 / 4;
}

.loadingScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - #{$navbar-height} - #{$footer-height});
  font-size: 1.5rem;
  color: rgba($color-white, 0.5);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% { opacity: 0.6; }
  50% { opacity: 1; }
  100% { opacity: 0.6; }
}